---
import {getRelativeLocaleUrl} from 'astro:i18n';
import lang from '../lib/lang';

const loc = Astro.props.lang;
const __ = lang(loc);
const url = (path) => getRelativeLocaleUrl(loc, path);

const {title = 'FamilyMarkup'} = Astro.props;
const pathname = Astro.url.pathname.replace(/^\/\w{2}\b/, '');
---

<header>
    <nav>
        <a href={url('/')} class="logo"><img src="/favicon.svg" alt="Logo"/></a>

        <div class="menu">
            <a href={url('apps')}><i>💻</i> {__('apps')}</a>
            <a href={url('packages')}><i>📦</i> {__('packages')}</a>
            <a href={url('examples')}><i>📑</i> {__('examples')}</a>
            <a href={url('support')}><i>🤝</i> {__('support')}</a>
        </div>
    </nav>

    <div class="title">
        <h1>{__(title)}</h1>

        <small>🌐 <a href={pathname}>EN</a> <a href={"/uk" + pathname}>UA</a></small>
    </div>
</header>

<style lang="less">
	nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        border-bottom: 1px solid #e5e7eb;

        .logo {
            display: block;
            line-height: 0;

            img {
                height: 50px;
            }
        }

        .menu a {
            i {
                font-style: normal;
                text-decoration: none;
            }

            ~ a {
                margin-left: 15px;
            }
        }

        @media (max-width: 500px) {
            height: auto;

            .logo img {
                height: 100px;
            }

            .menu a {
                display: block;
                margin-left: 0 !important;
                text-align: right;
            }
        }
    }

    .title {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        a {
            margin-left: 6px;
        }

        @media (max-width: 500px) {
            display: block;

            h1 {
                font-size: 2.5em;
            }

            small {
                display: block;
                text-align: right;
            }
        }
    }
</style>
