---
import BaseHead from "../components/BaseHead.astro";

const {
    lang = 'en',
    title = 'FamilyMarkup',
    description = '',
} = Astro.props;
---

<!doctype html>
<html lang={lang}>
<head>
    <BaseHead title={title} description={description}/>
    <slot name="head"/>
</head>

<body>
<main>
    <article>
        <slot/>
    </article>
</main>
</body>
</html>
