---
import Main from './Main.astro';
---

<Main>
    <link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-solarizedlight.min.css"
		slot="head"
	/>

	<slot/>
</Main>