---
import Main from './Main.astro';
import {Content as Slogan} from '../content/slogan.md';

const {
	frontmatter: data = {},
	lang,
	title = data.title,
	slogan = data.slogan,
} = Astro.props;
---

<Main lang={lang} title={title}>
    <link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-solarizedlight.min.css"
		integrity="sha512-fibfhB71IpdEKqLKXP/96WuX1cTMmvZioYp7T6I+lTbvJrrjEGeyYdAf09GHpFptF8toQ32woGZ8bw9+HjZc0A=="
		crossorigin="anonymous"
		referrerpolicy="no-referrer"
		slot="head"
	/>

	{slogan !== false &&
	<Slogan/>}

	<slot/>
</Main>