---
import Main from './Main.astro';
---

<Main>
    <link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-solarizedlight.min.css"
		integrity="sha512-fibfhB71IpdEKqLKXP/96WuX1cTMmvZioYp7T6I+lTbvJrrjEGeyYdAf09GHpFptF8toQ32woGZ8bw9+HjZc0A=="
		crossorigin="anonymous"
		referrerpolicy="no-referrer"
		slot="head"
	/>

	<slot/>
</Main>